<div class="container-create">
    <div class="body-right"></div>
    <div class="body-left">
        <div class="container-left">
            <div class="welcome-admin">
                <h1 class="title-welcome">
                    Chào mừng, {{getGender user}} {{getFullname user}}!
                    <svg class="animate__wave" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione" preserveAspectRatio="xMidYMid meet" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    <g id="SVGRepo_iconCarrier"> <g fill="#42ade2"> <path d="M16.1 48.5c-.5-.1-.9-.2-1.4-.4c-.5-.2-.9-.3-1.3-.5c-.9-.4-1.7-.9-2.5-1.5C9.3 45 8 43.5 7 41.7C6 40 5.4 38 5.3 36.1c-.1-1 0-1.9.1-2.9c.1-.5.2-.9.3-1.4c.1-.5.3-.9.4-1.4l.1 1.4c0 .5.1.9.2 1.4c.1.9.3 1.8.5 2.6c.4 1.7 1 3.3 1.9 4.8c.9 1.5 1.9 2.9 3.2 4.2c.6.6 1.3 1.2 2 1.8c.3.3.7.6 1.1.9l1 1"> </path> <path d="M15.8 52.1c-.3.2-.7.3-1.1.4c-.4.1-.7.2-1.1.2c-.7.1-1.5.2-2.3.1c-1.5-.1-3.1-.5-4.4-1.2c-1.4-.7-2.6-1.8-3.4-3.1c-.4-.6-.8-1.3-1.1-2c-.1-.3-.2-.7-.3-1.1c0-.3-.1-.6-.1-1c.3.3.5.6.7.8c.3.3.5.6.7.8c.5.5.9 1 1.4 1.4c1 .9 2 1.7 3.2 2.3c1.1.6 2.4 1.1 3.6 1.5c.6.2 1.3.3 2 .5c.3.1.7.1 1 .2c.5.1.8.1 1.2.2"> </path> <path d="M38.4 3.5c.5.1.9.3 1.4.5c.5.2.9.4 1.3.6c.9.5 1.7 1 2.5 1.6c1.6 1.2 2.9 2.8 3.8 4.6c.9 1.8 1.4 3.8 1.4 5.7c0 1-.1 1.9-.3 2.9c-.1.5-.2.9-.4 1.4c-.2.5-.3.9-.5 1.3l-.1-1.4c0-.5 0-.9-.1-1.4l-.3-2.7c-.3-1.7-.9-3.4-1.7-5c-.8-1.6-1.8-3-3-4.3c-.6-.7-1.3-1.3-1.9-2c-.3-.3-.7-.6-1.1-.9l-1-.9"> </path> <path d="M47.1 3.1c.4.1.7.2 1 .4c.3.1.7.3 1 .5c.6.4 1.2.8 1.8 1.3c1.1 1 2 2.2 2.5 3.6c.6 1.4.8 2.9.6 4.4c-.1.7-.3 1.4-.5 2.1c-.1.3-.3.7-.4 1c-.2.3-.3.6-.6.9v-2c0-.7-.1-1.3-.1-1.9c-.2-1.3-.4-2.5-.9-3.6c-.5-1.2-1.1-2.2-1.8-3.3c-.4-.5-.8-1.1-1.2-1.6c-.2-.3-.4-.5-.7-.8c-.2-.5-.5-.8-.7-1"> </path> </g> <g fill="#ffdd67"> <path d="M10 18c-2 .9-2.7 3.3-1.8 5.3l12.6 26.3l7-3.3l-12.6-26.4c-.9-2-3.2-2.9-5.2-1.9"> </path> <path d="M43.1 38.9l7.4-3.5l-14.4-30c-1-2-3.4-2.9-5.5-1.9c-2 1-2.9 3.4-1.9 5.5l14.4 29.9"> </path> </g> <path d="M30.7 3.4c-.2.1-.4.2-.6.4c1.9-.5 3.9.4 4.8 2.2l14.4 30l1.3-.6l-14.4-30c-1-2.1-3.4-3-5.5-2" fill="#eba352"> </path> <path d="M27.8 46.2l7.7-3.7l-14.7-30.6c-1-2.1-3.6-3.1-5.7-2.1s-3 3.6-2 5.7l14.7 30.7" fill="#ffdd67"> </path> <path d="M15.1 9.9c-.2.1-.4.2-.6.4c1.9-.5 4.1.4 5 2.3l9.1 19.1l2.2 1.3l-10-21c-1-2.2-3.5-3.1-5.7-2.1" fill="#eba352"> </path> <path d="M34.3 40.1l7.7-3.7L27.3 5.8c-1-2.1-3.6-3.1-5.7-2c-2.1 1-3 3.6-2 5.7l14.7 30.6" fill="#ffdd67"> </path> <g fill="#eba352"> <path d="M21.6 3.7c-.2.1-.4.3-.6.4c1.9-.5 4.1.4 5 2.3L36.3 28l2.2 1.3L27.3 5.8c-1-2.2-3.6-3.1-5.7-2.1"> </path> <path d="M10 18c-.2.1-.4.2-.6.4c1.8-.5 3.7.4 4.5 2.2l7.5 15.7l2.2 1.3L15.2 20c-.9-2.1-3.2-3-5.2-2"> </path> </g> <path d="M60.8 15c-2.7-2.1-7.1.2-9.3 7.4c-1.5 5-1.7 6.5-4.9 8l-1.8-3.7S16.4 40.4 17.5 42.6c0 0 3.4 10.6 9.2 15.5c8.6 7.4 28.7-.5 29.6-19.6c.5-11.1 7.4-21.2 4.5-23.5" fill="#ffdd67"> </path> <g fill="#eba352"> <path d="M60.8 15c-.5-.4-1.1-.6-1.7-.7c.1.1.3.1.4.2c3 2.3-.1 7.6-1.8 12.4c-1.4 3.8-2.6 7.7-2.4 11.5c.8 16.6-15.9 24.5-25.9 21.5c9.8 4.1 28-3.7 27.2-21c-.2-3.8.9-7.5 2.4-11.5c1.6-4.8 4.7-10.1 1.8-12.4"> </path> <path d="M47.5 30c-6.2.7-15.3 9.6-8.9 19.3c-4.7-9.8 3-16.4 7.9-18.7c.5-.4 1-.6 1-.6"> </path> </g> </g>
                    </svg> 
                </h1>
                <p class="content-welcome">Hãy bắt đầu ngày mới với nhiệt huyết và quyết tâm</p>
            </div>
            <div class="primary-page">
                <h1 class="title">
                    <svg fill="#bc9f6e" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 548.291 548.291" xml:space="preserve">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <g> <path d="M189.2,293.611c-1.806-6.027-3.609-13.564-5.119-19.583h-0.296c-1.515,6.019-3.027,13.703-4.665,19.583l-6.037,21.554 h22.452L189.2,293.611z"/> <path d="M486.201,196.124h-13.166V132.59c0-0.396-0.062-0.795-0.115-1.196c-0.021-2.523-0.825-5-2.552-6.963L364.657,3.677 c-0.033-0.031-0.064-0.042-0.085-0.073c-0.63-0.707-1.364-1.292-2.143-1.795c-0.229-0.157-0.461-0.286-0.702-0.421 c-0.672-0.366-1.387-0.671-2.121-0.892c-0.2-0.055-0.379-0.136-0.577-0.188C358.23,0.118,357.401,0,356.562,0H96.757 C84.894,0,75.256,9.651,75.256,21.502v174.613H62.092c-16.971,0-30.732,13.756-30.732,30.733v159.812 c0,16.968,13.761,30.731,30.732,30.731h13.164V526.79c0,11.854,9.638,21.501,21.501,21.501h354.776 c11.853,0,21.501-9.647,21.501-21.501V417.392h13.166c16.966,0,30.729-13.764,30.729-30.731V226.854 C516.93,209.872,503.167,196.124,486.201,196.124z M96.757,21.502h249.054v110.009c0,5.939,4.817,10.75,10.751,10.75h94.972v53.861 H96.757V21.502z M404.394,296.781v18.678h-37.361v24.104h41.733v18.846h-64.778v-101.55h62.674v18.835h-39.629v21.098h37.361 V296.781z M292.592,340.918c5.265,0,9.484-0.6,11.297-1.501v-21.25h-15.665v-17.933h37.816v53.502 c-7.081,2.404-20.492,5.724-33.9,5.724c-18.538,0-31.953-4.674-41.287-13.712c-9.347-8.736-14.475-21.996-14.321-36.926 c0.153-33.743,24.712-53.026,58.007-53.026c13.107,0,23.196,2.562,28.174,4.976l-4.819,18.381 c-5.575-2.415-12.494-4.373-23.648-4.373c-19.132,0-33.591,10.86-33.591,32.846C260.649,328.562,273.759,340.918,292.592,340.918z M231.399,358.409H206.69l-7.848-26.068h-29.066l-7.239,26.068h-23.809l31.042-101.555h30.124L231.399,358.409z M90.356,322.083 v36.325H67.607v-100.2c7.069-1.211,17.024-2.114,31.032-2.114c14.164,0,24.266,2.709,31.042,8.139 c6.478,5.121,10.833,13.566,10.833,23.497c0,9.954-3.308,18.394-9.326,24.115c-7.833,7.382-19.439,10.684-33,10.684 C95.172,322.535,92.458,322.398,90.356,322.083z M451.534,520.962H96.757v-103.57h354.776V520.962z M449.314,359.91 c-11.598,0-23.04-3.013-28.773-6.173l4.661-18.991c6.18,3.165,15.664,6.336,25.46,6.336c10.552,0,16.121-4.373,16.121-10.992 c0-6.337-4.814-9.959-17.014-14.322c-16.876-5.884-27.884-15.212-27.884-29.983c0-17.336,14.467-30.581,38.416-30.581 c11.463,0,19.89,2.415,25.915,5.124l-5.119,18.528c-4.072-1.959-11.296-4.816-21.248-4.816c-9.943,0-14.763,4.527-14.763,9.797 c0,6.479,5.729,9.328,18.835,14.312c17.942,6.619,26.363,15.969,26.363,30.288C490.295,345.443,477.192,359.91,449.314,359.91z"/> <path d="M117.765,288.341c0-9.341-6.478-14.915-17.911-14.915c-4.682,0-7.848,0.451-9.503,0.903v29.985 c1.95,0.451,4.37,0.592,7.677,0.592C110.246,304.907,117.765,298.74,117.765,288.341z"/> </g> </g>
                    </svg>
                    Danh Sách Các Trang
                </h1>
                <ul class="primary-navbar">
                    <li class="admin-nav"><a class="link" data-href="Admin" href="#"><span class="material-symbols-outlined">folder_managed</span> <span class="name-page">Quản Trị Viên</span></a></li>
                    <li><a class="link" target="_blank" data-href="home" href="/"><i class="bi bi-house-door-fill"></i> <span class="name-page">Trang Chủ</span></a></li>
                    <li><a class="link" target="_blank" data-href="about" href="/about"><span class="material-symbols-outlined">groups</span> <span class="name-page">Về Chúng Tôi</span></a></li>
                    <li><a class="link" target="_blank" data-href="product" href="/product"><i class="bi bi-basket3-fill"></i> <span class="name-page">Sản Phẩm</span></a></li>
                    <li><a class="link" target="_blank" data-href="event" href="/event"><span class="material-symbols-outlined">language</span> <span class="name-page">Tin Tức & Sự Kiện</span></a></li>
                    <li><a class="link" target="_blank" data-href="contact" href="/contact"><span class="material-symbols-outlined">info</span> <span class="name-page">Liên Hệ</span></a></li>
                </ul>
            </div>
            <div class="container__list-user">
                <h1 class="title-user">
                    <svg fill="#bc9f6e" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 489.548 489.548" xml:space="preserve" stroke="#bc9f6e">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M344.956,140.026c2.2,14.2,13.1,32.3,31.2,38.6c7.4,2.6,15.5,2.6,22.9,0c17.7-6.4,29.1-24.4,31.3-38.6 c2.4-0.2,5.5-3.5,8.9-15.5c4.6-16.4-0.3-18.8-4.4-18.4c0.8-2.3,1.4-4.5,1.8-6.7c7-42.3-13.8-43.8-13.8-43.8s-3.5-6.6-12.6-11.7 c-6.1-3.6-14.6-6.4-25.8-5.4c-3.6,0.2-7.1,0.9-10.3,2l0,0c-4.1,1.4-7.9,3.4-11.3,5.8c-4.2,2.7-8.1,5.9-11.6,9.6 c-5.5,5.6-10.4,12.9-12.6,22c-1.8,6.8-1.4,13.9,0.1,21.5l0,0c0.4,2.2,1,4.5,1.8,6.7c-4.2-0.4-9.1,2-4.4,18.4 C339.456,136.426,342.556,139.826,344.956,140.026z"/> <path d="M57.556,140.026c2.2,14.2,13.1,32.3,31.2,38.6c7.4,2.6,15.5,2.6,22.9,0c17.7-6.4,29.1-24.4,31.3-38.6 c2.4-0.2,5.5-3.5,8.9-15.5c4.6-16.4-0.3-18.8-4.4-18.4c0.8-2.3,1.4-4.5,1.8-6.7c7-42.3-13.8-43.8-13.8-43.8s-3.5-6.6-12.6-11.7 c-6.1-3.6-14.6-6.4-25.8-5.4c-3.6,0.2-7.1,0.9-10.3,2l0,0c-4.1,1.4-7.9,3.4-11.3,5.8c-4.2,2.7-8.1,5.9-11.6,9.6 c-5.5,5.6-10.4,12.9-12.6,22c-1.8,6.8-1.4,13.9,0.1,21.5l0,0c0.4,2.2,1,4.5,1.8,6.7c-4.2-0.4-9.1,2-4.4,18.4 C52.056,136.426,55.256,139.826,57.556,140.026z"/> <path d="M197.756,170.626c2.4,15.6,14.4,35.4,34.2,42.4c8.1,2.9,17,2.9,25.1-0.1c19.5-7,31.9-26.8,34.3-42.3 c2.6-0.2,6.1-3.9,9.8-17c5.1-17.9-0.3-20.6-4.9-20.2c0.9-2.5,1.5-4.9,2-7.4c7.7-46.4-15.1-48.1-15.1-48.1s-3.8-7.3-13.8-12.8 c-6.7-4-16-7-28.3-6c-4,0.2-7.7,1-11.3,2.1l0,0c-4.5,1.5-8.7,3.8-12.4,6.4c-4.6,2.9-8.9,6.5-12.8,10.5 c-6.1,6.2-11.5,14.2-13.8,24.2c-2,7.5-1.5,15.2,0.1,23.6l0,0c0.4,2.4,1.1,4.9,2,7.4c-4.6-0.4-10,2.2-4.9,20.2 C191.756,166.726,195.156,170.426,197.756,170.626z"/> <path d="M470.156,195.626c-25.4-6.5-46-21-46-21l-16.1,50.9l-3,9.6v-0.1l-2.6,8.1l-8.5-24.1c20.9-29.1-4.2-28.8-5.6-28.8 s-26.5-0.3-5.6,28.8l-8.5,24.1l-2.6-8.1v0.1l-3-9.6l-16.1-50.9c0,0-20.6,14.5-46,21c-3.8,1-6.9,2.6-9.3,4.7 c7.6,4.6,23.2,13.2,40.9,17.7c21.8,5.5,33.5,26.3,31.4,55.6c0,0.5-0.1,1.8-0.3,3.7c6.1,0.5,12.5,0.8,19.2,0.8 c61.9,0,98.8-24,98.8-24c1.1-6.4,2.2-21.1,2.2-21.1C489.956,222.226,489.056,200.426,470.156,195.626z"/> <path d="M313.556,366.026l-13.6-2.3c-1.3-5.3-3.4-10.2-6.1-14.8l8.1-11.3c1.5-2.1,1.3-4.9-0.5-6.7l-4.8-4.8l-4.8-4.8 c-1.8-1.8-4.6-2.1-6.7-0.6l-11.3,8c-4.6-2.8-9.7-4.9-15.1-6.2l-2.2-13.5c-0.4-2.5-2.6-4.4-5.2-4.4h-6.9h-6.9 c-2.5,0-4.8,1.8-5.2,4.4l-2.4,13.8c-5.3,1.3-10.2,3.5-14.7,6.1l-11.1-8.1c-2.1-1.5-4.9-1.3-6.7,0.5l-4.8,4.8l-4.8,4.8 c-1.8,1.8-2.1,4.6-0.6,6.7l8,11.4c-2.7,4.6-4.7,9.5-6.1,14.7l-13.6,2c-2.5,0.4-4.4,2.6-4.4,5.2v6.9v6.9c0,2.5,1.8,4.8,4.4,5.2 l13.8,2.4c1.3,5.3,3.5,10.2,6.1,14.7l-8,11.2c-1.5,2.1-1.3,4.9,0.5,6.7l4.8,4.8l4.8,4.8c1.8,1.8,4.6,2.1,6.7,0.6l11.4-8 c4.4,2.6,9.3,4.7,14.4,6l2.2,13.7c0.4,2.5,2.6,4.4,5.2,4.4h6.9h6.9c2.5,0,4.8-1.8,5.2-4.4l2.3-13.6c5.3-1.3,10.2-3.4,14.8-6.1 l11.3,8.1c2.1,1.5,4.9,1.3,6.7-0.5l4.8-4.8l4.8-4.8c1.8-1.8,2.1-4.6,0.6-6.7l-8-11.3c2.7-4.6,4.8-9.5,6.2-14.7l13.7-2.2 c2.5-0.4,4.4-2.6,4.4-5.2v-6.9v-6.9C317.856,368.626,316.056,366.526,313.556,366.026z M252.456,412.326 c-19.1,4.4-38.1-7.5-42.5-26.6s7.5-38.1,26.6-42.5s38.1,7.5,42.5,26.6S271.556,407.926,252.456,412.326z"/> <path d="M151.256,218.026c17.6-4.5,33.2-13.1,40.9-17.7c-2.5-2.1-5.5-3.8-9.3-4.7c-25.4-6.5-46-21-46-21l-16.1,50.9l-3,9.6v-0.1 l-2.6,8.1l-8.5-24.1c20.9-29.1-4.2-28.8-5.6-28.8s-26.5-0.3-5.6,28.8l-8.5,24.1l-2.6-8.1v0.1l-3-9.6l-16.1-50.9 c0,0-20.6,14.5-46,21c-18.9,4.8-19.8,26.6-19.1,37.5c0,0,1.1,14.7,2.2,21.1c0,0,36.9,24,98.8,24c6.7,0,13.1-0.3,19.2-0.8 c-0.2-1.9-0.3-3.2-0.3-3.7C117.756,244.326,129.556,223.526,151.256,218.026z"/> <path d="M334.356,231.626c-27.8-7.1-50.5-23-50.5-23l-17.6,55.8l-3.3,10.5l-0.1-0.1l-2.9,8.9l-9.3-26.4 c22.9-31.9-4.6-31.6-6.2-31.6c-1.5,0-29-0.4-6.2,31.6l-9.3,26.4l-2.9-8.9l-0.1,0.1l-3.3-10.5l-17.6-55.8c0,0-22.6,15.9-50.5,23 c-20.7,5.3-21.8,29.2-20.9,41.1c0,0,1.2,16.1,2.4,23.2c0,0,17.1,11.1,47.7,18.9l3.7-3.6c3.6-3.6,8.4-5.6,13.5-5.6 c4,0,7.9,1.2,11.2,3.6l0.2,0.1l4.2,3.1c0.3-0.1,0.6-0.3,1-0.4l1-5.5c1.6-9.2,9.6-16,19-16l13.8,0.1c9.4,0,17.4,6.8,18.9,16.1 l0.8,5.2c0.5,0.2,1,0.4,1.5,0.6l4.4-3.1c3.3-2.3,7.1-3.5,11.1-3.5c5.2,0,10,2,13.6,5.7l3.4,3.4c30.6-7.8,47.8-18.9,47.8-18.9 c1.2-7.1,2.4-23.2,2.4-23.2C356.156,260.826,355.156,236.926,334.356,231.626z"/> </g> </g> </g>
                    </svg>
                    Danh Sách User ({{countUser}})
                </h1>
                <div class="all-user">
                    <div class="title__card-user">
                        <div class="space content-user"></div>
                        <div class="title-name content-user">
                            <h3>Tên</h3>
                            <p>Email</p>
                        </div>
                        <div class="city content-user">
                            <h3>Thành Phố & Huyện</h3>
                            <p>Phường & Xã</p>
                        </div>
                        <div class="role content-user">
                            <h3>Chức Vụ</h3>
                            <p>Ngày Nhận Chức</p>
                        </div>
                        <div class="space-action content-user">
                        </div>
                    </div>
                    {{#each listUser}}
                    <div class="card-user">
                        <div class="avatar-user infor-user">
                            <img src="{{getAvatar this}}" alt="">
                        </div>
                        <div class="name-user infor-user">
                            <h3>{{this.fullname}}</h3>
                            <p class="infor__email-user">{{this.email}}</p>
                        </div>
                        <div class="city-user infor-user">
                            <h3>{{this.city}}</h3>
                            <p>{{this.district}}</p>
                        </div>
                        <div class="role-user infor-user">
                            <h3>{{this.role}}</h3>
                            <p>{{moment this.createdAt format="DD/MM/YYYY"}}</p>
                        </div>
                        <div class="action-user infor-user">
                            <button type="button" class="view-detail">
                                Xem Chi Tiết >
                            </button>
                        </div>
                        <form action="/admin/editUser/{{this._id}}" class="box-edit__user" method="POST" enctype="multipart/form-data">
                        <div class="overlay-inform"></div>
                        <div class="typing-indicator">
                            <div class="typing-circle"></div>
                            <div class="typing-circle"></div>
                            <div class="typing-circle"></div>
                            <div class="typing-shadow"></div>
                            <div class="typing-shadow"></div>
                            <div class="typing-shadow"></div>
                        </div>
                        <span class="title__post-news">
                            Chỉnh Sửa Thông Tin Nhân Viên
                            <i class="bi bi-x"></i>
                        </span>
                        <div class="body-create__user">
                            <div class="user-infor">
                                <div class="avatar-label">
                                    <label class="change-avatar" for="avatar-{{this._id}}">
                                        <img class="avatar-user avatar__edit-user" src="{{getAvatar this}}" alt="">
                                        <span>Đổi Ảnh</span>
                                    </label>
                                    <label class="label-avatar" for="avatar-{{this._id}}">Thay Ảnh Đại Diện</label>
                                    <input class="file__edit-user" id="avatar-{{this._id}}" name="avatar" type="file" hidden>
                                </div>
                                <div class="user-label user-gender">
                                    <div class="check-gender" data-check-gender="{{this.gender}}">
                                        <input class="checked-men" id="men-{{this._id}}" name="gender" value="Nam" type="radio" hidden>
                                        <input class="checked-women" id="women-{{this._id}}" name="gender" value="Nữ" type="radio" hidden >
                                        <span class="choose-gender">
                                            <label class="men" for="men-{{this._id}}">Nam</label>
                                            <label class="women" for="women-{{this._id}}">Nữ</label>
                                        </span>
                                    </div>
                                    <label for="">Giới Tính</label>
                                </div>
                                <div class="user-label">
                                    <input id="fullname-user-{{this._id}}" name="fullnameUser" type="text" placeholder="Điền Tên Đầy Đủ" value="{{this.fullname}}" required>
                                    <label class="fullnameUser" for="fullname-user">Họ & Tên</label>
                                </div>
                                <div class="user-label">
                                    <select name="role" id="role-{{this._id}}" required>
                                        <option value="{{this.role}}" selected>{{this.role}}</option>
                                        {{#each this.roles}}
                                            <option value="{{this.role}}">{{this.role}}</option>
                                        {{/each}}
                                    </select>
                                    <label class="role" for="role">Chức Vụ</label>
                                </div>
                                <div class="user-label">
                                    <input id="username-{{this._id}}" name="username" type="text" placeholder="Điền Tên Đăng Nhập" value="{{this.username}}">
                                    <label class="username" for="username">Tên Đăng Nhập</label>
                                </div>
                                <div class="user-label">
                                    <input id="email-user-{{this._id}}" name="email" type="text" placeholder="Điền Email" value="{{this.email}}" >
                                    <label class="email" for="email-user">Email</label>
                                </div>
                                <div class="user-label">
                                    <input id="password-{{this._id}}" name="password" type="password" placeholder="Điền Mật Khẩu">
                                    <label class="password" for="password">Mật Khẩu</label>
                                </div>
                                <div class="user-label">
                                    <input id="repassword-{{this._id}}" name="repassword" type="password" placeholder="Nhập Lại Mật Khẩu">
                                    <label class="repassword" for="repassword">Nhập Lại Mật Khẩu</label>
                                </div>
                                <div class="user-label">
                                    <select name="city" id="city-{{this._id}}" >
                                        <option value="{{this.city}}" selected>{{this.city}}</option>
                                    </select>
                                    <label class="city" for="city">Thành Phố & Huyện</label>
                                </div>
                                <div class="user-label">
                                    <select name="district" id="district-{{this._id}}">
                                        <option value="{{this.district}}" selected>{{this.district}}</option>
                                    </select>
                                    <label class="district" for="district">Phường & Xã</label>
                                </div>
                            </div>
                            <div class="action-user">
                                <button type="submit" class="submit__edit-user submit-user">
                                    Thay Đổi
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="container__list-event">
                <h1 class="title-event">
                    <svg viewBox="0 0 1024 1024" fill="#bc9f6e" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    <g id="SVGRepo_iconCarrier">
                    <path d="M344.854 687.167c26.725 56.8 66.665 111.099 118.91 161.654-109.515-16.445-200.574-83.285-250.026-175.73l131.114 14.076zM461.776 177.924c-106.691 16.718-195.535 81.185-245.233 170.432l128.342-12.64c26.395-55.654 65.729-108.624 116.89-157.793zM502.016 337.406l1.78-163.191h-0.362c-57.402 50.103-101.083 104.341-130.194 161.745l128.774 1.45zM224.829 388.081l-23.709-0.211-23.439-0.304-1.84 169.497-94.898-170.523-52.909-0.575-2.593 241.198 23.589 0.331 23.468 0.211 1.871-173.871 97.645 174.957 50.256 0.575 2.564-241.289zM450.373 433.36l0.211-21.506 0.271-21.357-177.611-1.9-2.593 241.289 183.132 1.93 0.241-21.446 0.211-21.387-132.697-1.418 0.663-62.954 117.977 1.266 0.211-20.694 0.211-20.814-117.977-1.238 0.575-51.161 127.175 1.387zM691.15 568.256l-33.060-175.501-53.664-0.635-36.349 176.255-38.43-177.009-52.397-0.603 64.553 242.012 23.922 0.241 23.981 0.304 39.907-189.616 36.711 190.401 24.071 0.331 23.889 0.241 69.742-240.566-50.949-0.544-41.929 174.687zM529.708 174.514h-0.362l-1.748 163.162 128.866 1.359c-27.932-58.038-70.404-113.18-126.754-164.521zM804.932 340.603c-53.633-89.519-145.152-151.602-251.828-164.202 68.335 52.922 106.493 106.707 131.741 162.933l120.086 1.266zM554.925 849.786c109.455-14.028 201.386-78.448 252.927-168.876l-130.547 9.845c-27.963 56.197-69.108 109.589-122.378 159.030zM648.738 690.455l-124.914-1.359-1.69 155.833c54.961-47.872 97.462-99.846 126.602-154.475zM981.396 521.109c-11.763-10.407-35.052-19.757-70.074-27.873-24.132-5.791-39.907-10.528-47.267-14.629-7.513-3.953-11.283-9.593-11.191-16.861 0.061-9.923 3.771-17.979 11.101-23.5 7.209-5.34 17.283-8.084 30.044-7.904 14.781 0.121 26.725 3.682 35.867 10.407 9.079 6.788 13.998 15.867 14.721 27.391l49.077 0.603c-1.569-24.282-10.769-43.469-27.6-57.887-16.741-14.419-38.703-21.748-65.729-22.020-28.837-0.331-51.852 6.335-68.956 19.728-17.073 13.546-25.73 32.246-25.973 55.535-0.211 20.905 6.004 36.349 18.642 46.393 12.819 9.984 38.338 19.517 76.469 28.415 20.753 4.827 34.238 9.562 40.572 13.786 6.395 4.346 9.593 10.979 9.502 20.151-0.090 9.199-4.705 16.259-13.786 21.387-9.109 5.068-21.628 7.54-37.766 7.359-15.596-0.181-27.813-3.71-36.439-10.738-8.746-6.91-13.212-16.711-13.634-29.652l-48.534-0.512c0.875 26.063 9.895 46.213 26.908 60.511 17.043 14.419 40.844 21.689 71.278 21.989 30.495 0.304 54.598-5.942 72.578-19.154 18.038-13.151 27.088-30.979 27.328-53.664 0.362-22.503-5.429-38.974-17.134-49.26zM496.586 844.508l1.69-155.651-124.914-1.359c28.053 55.201 69.348 108.050 123.223 157.009z"/>
                    </g>
                    </svg>
                    Danh Sách Tin Tức ({{countEvent}})
                </h1>
                <div class="all-event">
                    {{#each listEvent}}
                    <a href="/event/{{this._id}}" target="_blank" class="card-event" data-edit-event="{{this._id}}">
                        <div class="status-event">
                            <span class="circle"></span>
                            <p class="status-info">Hoạt Động</p>
                        </div>
                        <div class="infor-event">
                            <img src="/{{this.image1}}" alt="">
                            <h4 title="{{this.title}}">{{this.title}}</h4>
                            <p>{{moment this.createdAt format="DD/MM/YYYY"}}</p>
                        </div>
                        <div class="edit-event">
                            <button class="edit-button">
                                Chỉnh Sửa
                                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                <g id="SVGRepo_iconCarrier"> <g fill="black"> <path fill-rule="evenodd" d="M11.436 1.005A1.75 1.75 0 0113.902.79l.702.589a1.75 1.75 0 01.216 2.465l-5.704 6.798a4.75 4.75 0 01-1.497 1.187l-2.572 1.299a.75.75 0 01-1.056-.886l.833-2.759a4.75 4.75 0 01.908-1.68l5.704-6.798zm1.502.934a.25.25 0 00-.353.03l-.53.633 1.082.914.534-.636a.25.25 0 00-.031-.352l-.703-.59zm-.765 2.726l-1.082-.914-4.21 5.016a3.25 3.25 0 00-.621 1.15L5.933 11l1.01-.51a3.249 3.249 0 001.024-.812l4.206-5.013z" clip-rule="evenodd"/> <path d="M3.25 3.5a.75.75 0 00-.75.75v9.5c0 .414.336.75.75.75h9.5a.75.75 0 00.75-.75V9A.75.75 0 0115 9v4.75A2.25 2.25 0 0112.75 16h-9.5A2.25 2.25 0 011 13.75v-9.5A2.25 2.25 0 013.25 2H6a.75.75 0 010 1.5H3.25z"/> </g> </g>
                                </svg>
                            </button>
                            <button class="delete-button">
                                <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                            </button>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{!-- overlay --}}
    <div class="overlay"></div>
    {{!-- toast not update yet --}}
    <div class="toast-update">
        <h1>Thông Báo</h1>
        <p>Sự phát triển và cập nhật đang được thực hiện cho tính năng hiện có. Vui lòng thử lại sau khi có bản cập nhật tiếp theo.<br> Chúng tôi xin lỗi vì bất kỳ sự bất tiện nào gây ra.</p>
        <span class="close-notification">Đóng</span>
    </div>
    {{!-- warning valid --}}
    <div class="toast__warning-valid">
        <div class="icon-toast">
            <svg viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#FCAC34" stroke="#FCAC34">
            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            <g id="SVGRepo_iconCarrier"> <title>warning-filled</title> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="add" fill="#FCAC34" transform="translate(32.000000, 42.666667)"> <path d="M246.312928,5.62892705 C252.927596,9.40873724 258.409564,14.8907053 262.189374,21.5053731 L444.667042,340.84129 C456.358134,361.300701 449.250007,387.363834 428.790595,399.054926 C422.34376,402.738832 415.04715,404.676552 407.622001,404.676552 L42.6666667,404.676552 C19.1025173,404.676552 7.10542736e-15,385.574034 7.10542736e-15,362.009885 C7.10542736e-15,354.584736 1.93772021,347.288125 5.62162594,340.84129 L188.099293,21.5053731 C199.790385,1.04596203 225.853517,-6.06216498 246.312928,5.62892705 Z M224,272 C208.761905,272 197.333333,283.264 197.333333,298.282667 C197.333333,313.984 208.415584,325.248 224,325.248 C239.238095,325.248 250.666667,313.984 250.666667,298.624 C250.666667,283.264 239.238095,272 224,272 Z M245.333333,106.666667 L202.666667,106.666667 L202.666667,234.666667 L245.333333,234.666667 L245.333333,106.666667 Z" id="Combined-Shape"> </path> </g> </g> </g>
            </svg>
            <h2>Cảnh Báo</h2>
        </div>
        <div class="content-toast">
            <p>Bạn Có Thể Mất Hết Dữ Liệu Đã Nhập Vào Nếu Như Bạn Xoá Nội Dung Này</p>
        </div>
        <div class="action-toast">
            <span class="yes">Xoá</span>
            <span class="no">Huỷ Bỏ</span>
        </div>
    </div>
    {{!-- toast --}}
    <div id="toast">

    </div>
    {{!-- box create event --}}
    <form class="box-create__event" action="/admin/create_event"  method="POST" enctype="multipart/form-data">
        <input type="text" name="status" value="online" hidden>
        <div class="overlay-inform"></div>
        <div class="typing-indicator">
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
        </div>
        <span class="title__post-news">
            Đăng Tin Tức Mới
            <i class="bi bi-x"></i>
        </span>
        <div class="body-create__event">
            {{!-- create post --}}
            <div class="content__post-news">
                <h2 class="primary-title">Tạo Bài Đăng</h2>
                <label class="title-img" for="file-img">
                    <div class="img-view">
                        <label class="icon-title" for="file-img">
                            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                <g id="SVGRepo_iconCarrier">
                                <title>ionicons-v5-e</title>
                                <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                </g>
                            </svg>
                        </label>
                        <label class="drag-drop" for="file-img">Kéo Và Thả Hình Ảnh Tiêu Đề Của Bạn Vào Đây</label>
                        <label class="browse" for="file-img">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                        <span class="skip">Hình Ảnh <b>Tiêu Đề</b> Giúp Bài Viết Thu Hút Người Đọc</span>
                    </div>
                    <input id="file-img" type="file" name="image1" hidden required>
                </label>
                <div class="main-info__news">
                    <div class="select-category">
                        <span>Chọn Loại Bài Viết</span>
                            <div class="choose-category">
                                    <input type="radio" name="category" id="category-event" value="event" checked hidden>
                                    <input type="radio" name="category" id="category-news" value="news" hidden>
                                    <label class="checked" for=""></label>
                                    <label class="choose-event" for="category-event">Sự Kiện</label>
                                    <label class="choose-news" for="category-news">Tin Tức</label>
                            </div>
                    </div>
                    <input id="title-news" type="text" name="title" placeholder="Tiêu Đề Cho Bài Viết" required>
                    {{!-- box 1 --}}
                    <div class="box__content-first">
                        <div class="first__img-content">
                            <label class="content-img" for="first__content-img">
                                <div class="img-view">
                                    <label class="icon-title" for="first__content-img">
                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                            <g id="SVGRepo_iconCarrier">
                                            <title>ionicons-v5-e</title>
                                            <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                            <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            </g>
                                        </svg>
                                    </label>
                                    <label class="drag-drop" for="first__content-img">Kéo Và Thả Hình Ảnh Cho Nội Dung Của Bạn Vào Đây</label>
                                    <label class="browse" for="first__content-img">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                                </div>
                            </label>
                                <input class="file-img__content" type="file" name="image2" id="first__content-img" hidden required>
                        </div>
                        <textarea class="content-news" id="content-news" name="text1" rows="10" placeholder="Nội Dung Cho Bài Viết..." required></textarea>
                    </div>
                    {{!-- box 2 --}}
                    <div class="box__content-first">
                        <p class="title-content"></p>
                        <div class="first__img-content">
                            <label class="content-img" for="first__content-img1">
                                <div class="img-view">
                                    <label class="icon-title" for="first__content-img1">
                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                            <g id="SVGRepo_iconCarrier">
                                            <title>ionicons-v5-e</title>
                                            <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                            <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            </g>
                                        </svg>
                                    </label>
                                    <label class="drag-drop" for="first__content-img1">Kéo Và Thả Hình Ảnh Cho Nội Dung Của Bạn Vào Đây</label>
                                    <label class="browse" for="first__content-img1">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                                </div>
                            </label>
                                <input class="file-img__content" type="file" name="image3" id="first__content-img1" hidden>
                        </div>
                        <textarea class="content-news" id="content-news1" name="text2" rows="10" placeholder="Nội Dung Cho Bài Viết..." required></textarea>
                    </div>
                    {{!-- box 3 --}}
                    <div class="box__content-first">
                        <p class="title-content"></p>
                        <div class="first__img-content">
                            <label class="content-img" for="first__content-img2">
                                <div class="img-view">
                                    <label class="icon-title" for="first__content-img2">
                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                            <g id="SVGRepo_iconCarrier">
                                            <title>ionicons-v5-e</title>
                                            <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                            <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            </g>
                                        </svg>
                                    </label>
                                    <label class="drag-drop" for="first__content-img2">Kéo Và Thả Hình Ảnh Cho Nội Dung Của Bạn Vào Đây</label>
                                    <label class="browse" for="first__content-img2">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                                </div>
                            </label>
                                <input class="file-img__content" type="file" name="image4" id="first__content-img2" hidden>
                        </div>
                        <textarea class="content-news" id="content-news2" name="text3" rows="10" placeholder="Nội Dung Cho Bài Viết..." required></textarea>
                    </div>
                    {{!-- box 4 --}}
                    <div class="box__content-first">
                        <p class="title-content"></p>
                        <div class="first__img-content">
                            <label class="content-img" for="first__content-img3">
                                <div class="img-view">
                                    <label class="icon-title" for="first__content-img3">
                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                            <g id="SVGRepo_iconCarrier">
                                            <title>ionicons-v5-e</title>
                                            <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                            <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            </g>
                                        </svg>
                                    </label>
                                    <label class="drag-drop" for="first__content-img3">Kéo Và Thả Hình Ảnh Cho Nội Dung Của Bạn Vào Đây</label>
                                    <label class="browse" for="first__content-img3">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                                </div>
                            </label>
                                <input class="file-img__content" type="file" name="image5" id="first__content-img3" hidden>
                        </div>
                        <textarea class="content-news" id="content-news3" name="text4" rows="10" placeholder="Nội Dung Cho Bài Viết..." required></textarea>
                    </div>
                    {{!-- box 5 --}}
                    <div class="box__content-first">
                        <p class="title-content"></p>
                        <div class="first__img-content">
                            <label class="content-img" for="first__content-img4">
                                <div class="img-view">
                                    <label class="icon-title" for="first__content-img4">
                                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                            <g id="SVGRepo_iconCarrier">
                                            <title>ionicons-v5-e</title>
                                            <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                            <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                            <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                            </g>
                                        </svg>
                                    </label>
                                    <label class="drag-drop" for="first__content-img4">Kéo Và Thả Hình Ảnh Cho Nội Dung Của Bạn Vào Đây</label>
                                    <label class="browse" for="first__content-img4">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                                </div>
                            </label>
                                <input class="file-img__content" type="file" name="image6" id="first__content-img4" hidden>
                        </div>
                        <textarea class="content-news" id="content-news4" name="text5" rows="10" placeholder="Nội Dung Cho Bài Viết..." required></textarea>
                    </div>
                    {{!-- end box content --}}
                    <div class="action__box-content">
                        <button class="add-more" type="button">
                            <span class="material-symbols-outlined">
                                note_stack_add
                            </span>
                            <span class="note__add-more">Nội Dung & Hình Ảnh</span>
                        </button>
                        <button class="submit" type="button">
                            <span></span>
                            Đăng Bài
                        </button>
                    </div>
                </div>
            </div>
            {{!-- review post --}}
            <div class="content__review-post">
                <h2 class="primary-title">Xem Trước</h2>
                {{!-- review card --}}
                <div class="review-card">
                    <img src="" alt="" class="review-img">
                    <div class="review__label-news">
                        <span class="check-label event">Sự Kiện</span>
                    </div>
                    <h3 class="title-review"></h3>
                    <p class="desc-review"></p>
                    <span class="review__time-news"></span>
                </div>
                {{!-- review detail page --}}
                <div class="review__detail-page">
                    <div class="review__detail-card">
                        <h3 class="title__review-detail"></h3>
                        <span class="time-news"></span>
                        <img src="" alt="" class="content__review-detail">
                        <p class="desc"></p>
                        {{!-- hidden --}}
                        <img src="" alt="" class="content__review-detail">
                        <p class="desc"></p>
                        <img src="" alt="" class="content__review-detail">
                        <p class="desc"></p>
                        <img src="" alt="" class="content__review-detail">
                        <p class="desc"></p>
                        <img src="" alt="" class="content__review-detail">
                        <p class="desc"></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{!-- box create new user --}}
    <form action="/admin/apiregister" class="box-create__user" method="POST" enctype="multipart/form-data">
        <div class="overlay-inform"></div>
        <div class="typing-indicator">
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-circle"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
            <div class="typing-shadow"></div>
        </div>
        <span class="title__post-news">
            Thêm Tài Khoản Mới
            <i class="bi bi-x"></i>
        </span>
        <div class="body-create__user">
            <div class="user-infor">
                <div class="avatar-label">
                    <label class="change-avatar" for="avatar">
                        <img class="avatar-user" src="/img/avatar-men.png" alt="">
                        <span>Đổi Ảnh</span>
                    </label>
                    <label class="label-avatar" for="avatar">Thay Ảnh Đại Diện</label>
                    <input id="avatar" name="avatar" type="file" hidden>
                </div>
                <div class="user-label user-gender">
                    <div class="check-gender">
                        <input class="checked-men" id="men" name="gender" value="Nam" type="radio" hidden checked>
                        <input class="checked-women" id="women" name="gender" value="Nữ" type="radio" hidden >
                        <span class="choose-gender">
                            <label class="men" for="men">Nam</label>
                            <label class="women" for="women">Nữ</label>
                        </span>
                    </div>
                    <label for="">Giới Tính</label>
                </div>
                <div class="user-label">
                    <input id="fullname-user" name="fullnameUser" type="text" placeholder="Điền Tên Đầy Đủ" required>
                    <label class="fullnameUser" for="fullname-user">Họ & Tên</label>
                </div>
                <div class="user-label">
                    <select name="role" id="role" required>
                        <option value="" selected>Chọn Chức Vụ</option>
                        {{#each roles}}
                            <option value="{{this.role}}">{{this.role}}</option>
                        {{/each}}
                    </select>
                    <label class="role" for="role">Chức Vụ</label>
                </div>
                <div class="user-label">
                    <input id="username" name="username" type="text" placeholder="Điền Tên Đăng Nhập" required>
                    <label class="username" for="username">Tên Đăng Nhập</label>
                </div>
                <div class="user-label">
                    <input id="email-user" name="email" type="text" placeholder="Điền Email" required>
                    <label class="email" for="email-user">Email</label>
                </div>
                <div class="user-label">
                    <input id="password" name="password" type="password" placeholder="Điền Mật Khẩu" required>
                    <label class="password" for="password">Mật Khẩu</label>
                </div>
                <div class="user-label">
                    <input id="repassword" name="repassword" type="password" placeholder="Nhập Lại Mật Khẩu" required>
                    <label class="repassword" for="repassword">Nhập Lại Mật Khẩu</label>
                </div>
                <div class="user-label">
                    <select name="city" id="city" required>
                        <option value="" selected>Thành Phố & Huyện</option>
                    </select>
                    <label class="city" for="city">Thành Phố & Huyện</label>
                </div>
                <div class="user-label">
                    <select name="district" id="district" required>
                        <option value="" selected>Phường & Xã</option>
                    </select>
                    <label class="district" for="district">Phường & Xã</label>
                </div>
            </div>
            <div class="action-user">
                <button type="button" class="submit-user">
                    Tạo Tài Khoản
                    <span></span>
                </button>
            </div>
        </div>
    </form>
    <form action="/admin/role" class="box-create__role" method="POST">
        <span class="title__post-news">
            Thêm Chức Vụ Mới
            <i class="bi bi-x"></i>
        </span>
        <div class="body-create__role">
            <div class="user-label">
                <input id="create-role" name="createRole" type="text" placeholder="Nhập Tên Chức Vụ Muốn Thêm" required>
                <label class="createRole" for="create-role">Chức Vụ</label>
            </div>
            <div class="action-role">
                <button>
                    Tạo Chức Vụ
                    <span></span>
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    const formEvent = document.querySelector('.box-create__event');
    const closeEventBox = formEvent.querySelector('.box-create__event span.title__post-news i');
    const overlay = document.querySelector('.overlay');
    const showFormEvent = document.querySelector('.admin-navbar .create-news');
    if(showFormEvent){
        showFormEvent.addEventListener('click',()=>{
            overlay.style.cssText = 'top: 0; transform: scale(1)';
            formEvent.style.cssText = 'top: 50%; transform: translate(-50%, -50%) scale(1)';
            body.classList.add('modal-open');
        })
        overlay.addEventListener('click',()=>{
            overlay.style.cssText = 'top: -100%; transform: scale(0)';
            formEvent.style.cssText = 'top: -100%; transform: translate(-50%, -50%) scale(1)';
            body.classList.remove('modal-open');
        })
        closeEventBox.addEventListener('click',()=>{
            overlay.style.cssText = 'top: -100%; transform: scale(0)';
            formEvent.style.cssText = 'top: -100%; transform: translate(-50%, -50%) scale(1)';
            body.classList.remove('modal-open');
        })
    }
    // title img
    const dropArea = document.querySelector('.container-create .box-create__event .body-create__event .content__post-news .title-img');
    const inputFile = document.getElementById('file-img');
    const imageView = document.querySelector('.container-create .box-create__event .body-create__event .content__post-news .title-img .img-view');
    const contentImageView = document.querySelector('.container-create .box-create__event .body-create__event .content__post-news .title-img')
    inputFile.addEventListener('change', uploadImage);
    function uploadImage(){
        let imgLink = URL.createObjectURL(inputFile.files[0]);
        imageView.style.cssText = `background: url(${imgLink}) center / 100% 300px no-repeat; border-radius: 5px;`;
        imageView.textContent = "";
        contentImageView.style.cssText = 'border: 2px dashed #ffe699;'
        const closeIcon = document.createElement('i');
        const setFileIMG = document.querySelector('.review-img');
        closeIcon.className = 'bi bi-x';
        closeIcon.style.cssText = 'position: absolute; top: 0; right: 2px; color: #F80404; font-size: 40px;';
        imageView.appendChild(closeIcon);
        closeIcon.addEventListener('click', (e)=>{
            URL.revokeObjectURL(imgLink);
            inputFile.value= '';
            e.preventDefault();
            imageView.style.background = 'unset';
            imageView.textContent = "";
            setFileIMG.src = '';
            const resetTitleImg = `
            <label class="icon-title" for="file-img">
                            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                <g id="SVGRepo_iconCarrier">
                                <title>ionicons-v5-e</title>
                                <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                </g>
                            </svg>
                        </label>
                        <label class="drag-drop" for="file-img">Kéo Và Thả Hình Ảnh Tiêu Đề Của Bạn Vào Đây</label>
                        <label class="browse" for="file-img">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                        <span class="skip">Bạn Có Thể <b>Bỏ Qua</b> Nếu Như Không Có Hình Ảnh Cho Tiêu Đề</span>
            `
            imageView.innerHTML = `${resetTitleImg}`
            contentImageView.style.cssText = 'border: 2px dashed #7C7C7C;'
        });
    }
    dropArea.addEventListener('dragover',(e)=>{
        e.preventDefault();
    });
    dropArea.addEventListener('drop',(e)=>{
        e.preventDefault();
        inputFile.files = e.dataTransfer.files;
        uploadImage();
    });
    // content box
        const boxContent = document.querySelectorAll('.box__content-first');
        const addMore = document.querySelector('.action__box-content .add-more');
        let increAdd = 0;
        addMore.addEventListener('click', () => {
            increAdd++;
            if (increAdd >= boxContent.length) {
                logger('Đã hết, không thể thêm nữa.');
            }
            boxContent.forEach((box, index) => {
                if (index === increAdd) {
                    box.style.display = 'block';
                    const IMGDetailReview = document.querySelectorAll('.review__detail-card .content__review-detail');
                    const DescDetailReview = document.querySelectorAll('.review__detail-card .desc');
                    IMGDetailReview[index].style.display = 'block';
                    DescDetailReview[index].style.display = 'block';
                    const titleContent = box.querySelector('p.title-content');
                    const numerical = increAdd + 1;
                    titleContent.innerHTML = `Nội Dung Thứ ${numerical} <i class="bi bi-x" title="Xoá Nội Dung Này"></i>`;
                    const closeThisBox = box.querySelector('p i');
                    if (closeThisBox) {
                        closeThisBox.addEventListener('click', () => {
                            if(index !== increAdd){
                                    visibleToast({
                                        type: 'warning',
                                        message: 'Xóa Từ Dưới Lên Trên'
                                    })
                            }else{
                                const checkUserValid = box.querySelector('textarea');
                                if(checkUserValid.value !== ""){
                                    const warningValid = document.querySelector('.toast__warning-valid');
                                    showConfirm(warningValid, box, index);
                                }else{
                                    box.style.display = 'none';
                                    IMGDetailReview[index].style.display = 'none';
                                    DescDetailReview[index].style.display = 'none'
                                    increAdd--;
                                    visibleToast({
                                        type: 'success',
                                        message: 'Xóa Nội Dung Thành Công'
                                    });
                                }
                            }
                        });
                    }
                }
            });
        });
        boxContent.forEach((box,index)=>{
            if(index > 0){
                box.style.display = 'none';
            }
            const dropAreaContent = box.querySelector('.content-img');
            const inputFileContent = box.querySelector('.file-img__content');
            const imageViewContent = box.querySelector('.content-img .img-view');
            const contentIMG = box.querySelector('.content-img');
            inputFileContent.addEventListener('change', ()=>{
                uploadImageContent(imageViewContent, inputFileContent, contentIMG,index);
            });
            uploadImageContent(imageViewContent, inputFileContent, contentIMG,index)
            dropAreaContent.addEventListener('dragover',(e)=>{
            e.preventDefault();
            });
            dropAreaContent.addEventListener('drop',(e)=>{
                e.preventDefault();
                inputFileContent.files = e.dataTransfer.files;
                uploadImageContent(imageViewContent, inputFileContent, contentIMG,index);
            });
        })
        function uploadImageContent(imageViewContent, inputFileContent, contentIMG, checkNumber){
            if (inputFileContent.files.length > 0){
                let imgLink = URL.createObjectURL(inputFileContent.files[0]);
                imageViewContent.style.cssText = `background: url(${imgLink}) center / 100% 300px no-repeat; border-radius: 5px;`;
                imageViewContent.textContent = "";
                contentIMG.style.cssText = 'border: 2px dashed #ffe699;'
                const closeIcon = document.createElement('i');
                closeIcon.className = 'bi bi-x';
                closeIcon.style.cssText = 'position: absolute; top: 0; right: 2px; color: #F80404; font-size: 40px;';
                imageViewContent.appendChild(closeIcon);
                const reviewIMG = document.querySelectorAll('.content__review-detail');
                closeIcon.addEventListener('click', (e)=>{
                    e.preventDefault();
                    imageViewContent.style.background = 'unset';
                    imageViewContent.textContent = "";
                    URL.revokeObjectURL(imgLink);
                    inputFileContent.value = '';
                    reviewIMG.forEach((img,index)=>{
                        if(index === checkNumber){
                            img.src = ''
                        }
                    })
                    const resetTitleImg = `
                    <label class="icon-title" for="first__content-img">
                                            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                                <g id="SVGRepo_iconCarrier">
                                                <title>ionicons-v5-e</title>
                                                <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                                <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px"/>
                                                <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:32px"/>
                                                <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                                <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/>
                                                </g>
                                            </svg>
                                        </label>
                                        <label class="drag-drop" for="first__content-img">Kéo Và Thả Hình Ảnh Cho Nội Dung Của Bạn Vào Đây</label>
                                        <label class="browse" for="first__content-img">Hoặc <b>Lấy</b> Từ Máy Tính Của Bạn</label>
                    `
                    imageViewContent.innerHTML = `${resetTitleImg}`
                    contentIMG.style.cssText = 'border: 2px dashed #7C7C7C;'
                });
            }
        }
    // submit event
    const submitEvent = document.querySelector('.submit');
    submitEvent.addEventListener('click',()=>{
        checkValidEvent(boxContent)
    })
    // check valid user field
    const overlayInformEvent = document.querySelector('.container-create .box-create__event .overlay-inform');
    const loadingFormEvent = document.querySelector('.container-create .box-create__event .typing-indicator');
    function checkValidEvent(boxContent){
        const titleIMG = document.getElementById('file-img');
        const borderTitleIMG = document.querySelector('.content__post-news .title-img');
        const titleNews = document.getElementById('title-news');
        const fileIMG = document.getElementById('first__content-img');
        const borderContentIMG = document.querySelector('.first__img-content .content-img');
        let checkTextAreaField;
        if(titleIMG.value === "" || !titleIMG){
                visibleToast({
                    type: 'error',
                    message: 'Chưa Có Hình Ảnh Tiêu Đề Cho Bài Viết'
                });
                borderTitleIMG.style.border = '2px dashed #BC0404';
                borderTitleIMG.scrollIntoView();
                titleIMG.addEventListener('change',()=>{
                    borderTitleIMG.style.border = '2px dashed #ffe699';
                })
        }
        else if(titleNews.value === '' || !titleNews){
            visibleToast({
                    type: 'error',
                    message: 'Chưa Có Tiêu Đề Cho Bài Viết'
                });
            titleNews.focus();
            titleNews.style.border = '1px solid #BC0404';
            titleNews.addEventListener('input',()=>{
                if(titleNews.value !==""){
                    titleNews.style.border = '1px solid #ffe699';
                }else{
                    titleNews.style.border = '1px solid #BC0404';
                }
            })
        }else if(fileIMG.value === "" || !fileIMG){
                        visibleToast({
                        type: 'error',
                        message: 'Chưa Có Hình Ảnh Nội Dung Bài Đăng'
                        });
                        if(borderContentIMG){
                            borderContentIMG.style.border = '2px dashed #BC0404';
                            borderContentIMG.scrollIntoView();
                        }
                        fileIMG.addEventListener('change',()=>{
                            borderContentIMG.style.border = '2px dashed #ffe699';
                        })
        }else{
                boxContent.forEach((box,index)=>{
                    const textareaContent = box.querySelector('textarea.content-news');
                    const boxDisplayStyle = getComputedStyle(box).getPropertyValue('display');
                    if(boxDisplayStyle === 'block'){
                        if(textareaContent.value === ""){
                            visibleToast({
                            type: 'error',
                            message: 'Chưa Nhập Nội Dung Bài Đăng'
                            });
                            textareaContent.style.border = '1px solid #BC0404';
                            textareaContent.addEventListener('input',()=>{
                                textareaContent.style.border = '1px solid #ffe699';
                            })
                            checkTextAreaField = false;
                        }else{
                            checkTextAreaField = true;
                        }
                    }else{
                        textareaContent.style.border = '1px solid #ffe699';
                    }
                })
        }
        if(checkTextAreaField){
            localStorage.setItem('event', 'success');
            loadingAll.style.cssText = 'z-index: 10';
            formEvent.style.cssText = 'top: 50%; transform: translate(-50%, -50%) scale(1); z-index: 100';
            setTimeout(()=>{
                overlayInformEvent.style.display = 'block';
                loadingFormEvent.style.display = 'block';
                formEvent.submit();
            },200);
        }
    }
    document.addEventListener('DOMContentLoaded',()=>{
        const postedEvent = localStorage.getItem('event');
        const postedUser = localStorage.getItem('user');
        const postedRole = localStorage.getItem('role');
        const finishEdit = localStorage.getItem('userEdit');
        if(postedEvent === 'success'){
            visibleToast({
                    type: 'success',
                    message: 'Đăng Bài Thành Công'
                    });
            setTimeout(()=>{
                localStorage.setItem('event', '');
            },1000)
        }if(postedUser === 'success'){
            visibleToast({
                    type: 'success',
                    message: 'Thêm Nhân Viên Thành Công'
                    });
            setTimeout(()=>{
                localStorage.setItem('user', '');
            },1000)
        }if(postedRole === 'success'){
            visibleToast({
                    type: 'success',
                    message: 'Thêm Chức Vụ Thành Công'
                    });
            setTimeout(()=>{
                localStorage.setItem('role', '');
            },1000)
        }if(finishEdit === 'success'){
            visibleToast({
                    type: 'success',
                    message: 'Chỉnh Sửa Tài Khoản Thành Công'
                    });
            setTimeout(()=>{
                localStorage.setItem('userEdit', '');
            },1000)
        }
        function reviewCard(){
            const getValueTitle = document.getElementById('title-news');
            const setValueTitle = document.querySelector('.title-review');
            const setValueDetailTitle = document.querySelector('.review__detail-page .review__detail-card .title__review-detail');
            const categoryEvent = document.getElementById('category-event');
            const categoryNews = document.getElementById('category-news');
            const setCategory = document.querySelector('.review__label-news span');
            const setValueDate = document.querySelector('.review__time-news');
            const setValueDetailDate = document.querySelector('.review__detail-page .review__detail-card .time-news');
            const getFileIMG = document.getElementById('file-img');
            const setFileIMG = document.querySelector('.review-img');
            handleFileInput(getFileIMG, setFileIMG);
            for (var i = 0; i < boxContent.length; i++) {
                const getFileIMGDetail = boxContent[i].querySelector('.file-img__content');
                const setFileIMGDetail = document.querySelectorAll('.review__detail-page .review__detail-card .content__review-detail');
                if (getFileIMGDetail && setFileIMGDetail[i]) {
                    const FileIMGDetail = setFileIMGDetail[i];
                    handleFileInput(getFileIMGDetail, FileIMGDetail);
                }
                const setValueDesc = document.querySelector('.desc-review');
                const getValueDescFirst = boxContent[0].querySelector('.content-news');
                const getValueDesc = boxContent[i].querySelector('.content-news');
                const setValueDetailDesc = document.querySelectorAll('.review__detail-page .review__detail-card .desc')
                const valueDetailDesc = setValueDetailDesc[i];
                    getValueDesc.addEventListener('input',()=>{
                    setValueDesc.innerHTML = getValueDescFirst.value;
                    valueDetailDesc.innerHTML = getValueDesc.value;
                })
            }
            let date = new Date();
            let year = date.getFullYear();
            let dd = date.getDate();
            if (dd < 10) dd = '0' + dd;
            let month = date.getMonth() + 1;
            if (month < 10) month = '0' + month;
            getValueTitle.addEventListener('input',()=>{
                setValueTitle.innerHTML = getValueTitle.value;
                setValueDetailTitle.innerHTML = getValueTitle.value;
            })
            categoryEvent.addEventListener('change',()=>{
                if(categoryEvent.checked){
                    setCategory.classList.remove('news');
                    setCategory.classList.add('event');
                    setCategory.innerHTML = 'Sự Kiện';
                    setValueDetailDate.innerHTML = `Sự Kiện | ${dd}/${month}/${year}`
                }
            })
            categoryNews.addEventListener('change',()=>{
                if(categoryNews.checked){
                    setCategory.classList.remove('event');
                    setCategory.classList.add('news');
                    setCategory.innerHTML = 'Tin Tức';
                    setValueDetailDate.innerHTML = `Tin Tức | ${dd}/${month}/${year}`
                }
            })
            setValueDate.innerHTML = `${dd}/${month}/${year}`
            setValueDetailDate.innerHTML = `Sự Kiện | ${dd}/${month}/${year}`
        }
        reviewCard();
    })

    // box user
    const khanhHoaDistricts = [
        {
            districtName: "Nha Trang",
            wards: ["Phường Vĩnh Phước", "Phường Vĩnh Hải", "Phường Vĩnh Thọ", "Phường Vĩnh Trường", "Phường Vĩnh Nguyên", "Phường Vĩnh Thạnh", "Phường Phương Sài", "Phường Phương Sơn", "Phường Phước Hải", "Phường Phước Tân", "Phường Phước Tiến", "Phường Xuân Hà", "Phường Xuân Bình", "Phường Vạn Thắng", "Phường Vạn Thạnh", "Phường Vạn Phước", "Phường Vạn Thắng", "Phường Vạn Bình", "Phường Vạn Thanh", "Phường Vạn Hòa", "Phường Vạn Lương", "Phường Vạn Phú", "Phường Vạn Thương", "Phường Vạn Thanh Bắc", "Phường Vạn Thanh Nam"]
        },
        {
            districtName: "Cam Ranh",
            wards: ["Thị trấn Cam Ranh", "Phường Cam Phú", "Phường Cam Đức", "Phường Cam Hải Đông", "Phường Cam Hải Tây", "Xã Cam Hải Đông", "Xã Cam Hải Tây", "Xã Cam Phước Tây", "Xã Cam Thành Nam", "Xã Cam Thành Bắc"]
        },
        {
            districtName: "Vạn Ninh",
            wards: ["Thị trấn Vạn Giã", "Xã Vạn Hưng", "Xã Vạn Thạnh", "Xã Vạn Khánh", "Xã Vạn Phú", "Xã Vạn Long", "Xã Vạn Bình", "Xã Vạn Thắng", "Xã Vạn Đồng", "Xã Vạn Thành", "Xã Vạn Phước", "Xã Vạn Long", "Xã Vạn Lương"]
        },
        {
            districtName: "Diên Khánh",
            wards: ["Thị trấn Diên Khánh", "Xã Diên Lâm", "Xã Diên Điền", "Xã Diên Xuân", "Xã Diên Sơn", "Xã Diên Đồng", "Xã Diên Phú", "Xã Diên Thạnh", "Xã Diên An", "Xã Diên Phước", "Xã Diên Lạc", "Xã Diên Tân", "Xã Diên Hòa", "Xã Diên Thọ"]
        },
        {
            districtName: "Khánh Vĩnh",
            wards: ["Thị trấn Khánh Vĩnh", "Xã Khánh Hải", "Xã Khánh Trung", "Xã Khánh Đông", "Xã Khánh Thượng", "Xã Khánh Nam", "Xã Sông Cầu", "Xã Sông Cầu", "Xã Khánh Hiệp"]
        },
        {
            districtName: "Trường Sa",
            wards: ["Thị trấn Trường Sa", "Xã Trường Sa"]
        },
        {
            districtName: "Cam Lâm",
            wards: ["Thị trấn Cam Lâm", "Xã Cam An Bắc", "Xã Cam An Nam", "Xã Cam Hòa", "Xã Cam Hải Đông", "Xã Cam Hải Tây", "Xã Suối Cát", "Xã Suối Tân"]
        },
        {
            districtName: "Khánh Sơn",
            wards: ["Thị trấn Khánh Sơn", "Xã Sơn Thủy", "Xã Sơn Bình", "Xã Sơn Trung", "Xã Sơn Hòa", "Xã Sơn Phước", "Xã Sơn Định", "Xã Sơn Long", "Xã Ba Cụm Bắc", "Xã Ba Cụm Nam"]
        },
        {
            districtName: "Ninh Hòa",
            wards: ["Phường Ninh Đa", "Phường Ninh Diêm", "Phường Ninh Thủy", "Phường Ninh Tân", "Phường Ninh Thạnh", "Xã Ninh Quang", "Xã Ninh Hà", "Xã Ninh Ích", "Xã Ninh Lộc", "Xã Ninh Phụng", "Xã Ninh An", "Xã Ninh Hải", "Xã Ninh Thọ", "Xã Ninh Trung", "Xã Ninh Sim", "Xã Ninh Xuân", "Xã Ninh Phước", "Xã Ninh Phú", "Xã Ninh Thân", "Xã Ninh Bình", "Xã Ninh Quới"]
        },
        {
            districtName: "Vĩnh Cửu",
            wards: ["Thị trấn Vĩnh Lợi", "Xã Vĩnh Hảo", "Xã Vĩnh Hưng", "Xã Vĩnh Hiệp", "Xã Vĩnh Tân", "Xã Vĩnh Thành", "Xã Vĩnh Trung", "Xã Vĩnh Thái", "Xã Vĩnh Lạc", "Xã Vĩnh Thịnh", "Xã Vĩnh Quang"]
        },
        {
            districtName: "Định Quán",
            wards: ["Thị trấn Định Quán", "Xã Phú Tân", "Xã Phú Vinh", "Xã Phú Lợi", "Xã Phú Hòa", "Xã Phú Nghiệp", "Xã Phú Hưng", "Xã Phú Lập", "Xã Thanh Sơn", "Xã Tân An", "Xã Phú Túc", "Xã Phú Cường", "Xã Phú Lâm", "Xã Phú Sơn"]
        }
    ];
    const citySelect = document.getElementById("city");
    const districtSelect = document.getElementById("district");
    const cities = khanhHoaDistricts.map(district => district.districtName);
    const uniqueCities = [...new Set(cities)];
    uniqueCities.forEach(city => {
        const option = document.createElement("option");
        option.text = city;
        citySelect.add(option);
    });
    citySelect.addEventListener("change", function() {
        districtSelect.innerHTML = "";
        const selectedCity = citySelect.value;
        const selectedDistricts = khanhHoaDistricts.find(district => district.districtName === selectedCity);
        if (selectedDistricts) {
            selectedDistricts.wards.forEach(ward => {
                const option = document.createElement("option");
                option.text = ward;
                districtSelect.add(option);
            });
        }
    });
    const showFormUser = document.querySelector('.create-user');
    const formUser = document.querySelector('.box-create__user');
    const closeUserBox = document.querySelector('.box-create__user .title__post-news i');
    const fileAvatar = document.getElementById('avatar');
    const setAvatar = document.querySelector('.box-create__user .avatar-user');
    if(showFormUser){
        showFormUser.addEventListener('click',()=>{
            showBox(formUser, overlay, body);
        })
        overlay.addEventListener('click',()=>{
            hideBox(formUser, overlay, body);
        })
        closeUserBox.addEventListener('click',()=>{
            hideBox(formUser, overlay, body);
        })
    }
    handleFileInput(fileAvatar, setAvatar)
    const submitUser = document.querySelector('.box-create__user .action-user .submit-user');
    const inputFullname = document.getElementById('fullname-user');
    const inputUsername = document.getElementById('username');
    const inputEmail = document.getElementById('email-user');
    const inputPassword = document.getElementById('password');
    const inputRePassword = document.getElementById('repassword');
    const selectRole = document.getElementById('role');
    const selectCity = document.getElementById('city');
    const selectDistrict = document.getElementById('district');
    const overlayInformUser = document.querySelector('.container-create .box-create__user .overlay-inform');
    const loadingFormUser = document.querySelector('.container-create .box-create__user .typing-indicator');
    submitUser.addEventListener('click',()=>{
        if(inputFullname.value === ""){
            validateInput(inputFullname, 'Chưa Nhập Tên Đầy Đủ', `label.${inputFullname.name}`)
        }else if(selectRole.value === ""){
            validateInput(selectRole, 'Chưa Nhập Chức Vụ', `label.${selectRole.name}`)
        }else if(inputUsername.value === ""){
            validateInput(inputUsername, 'Chưa Nhập Tên Đăng Nhập', `label.${inputUsername.name}`)
        }else if(inputEmail.value === ""){
            validateInput(inputEmail, 'Chưa Nhập Địa Chỉ Email', `label.${inputEmail.name}`)
        }else if(inputPassword.value === ""){
            validateInput(inputPassword, 'Chưa Nhập Mật Khẩu', `label.${inputPassword.name}`)
        }else if(inputRePassword.value === "" || inputRePassword.value !== inputPassword.value){
            validateInput(inputRePassword, 'Chưa Nhập Lại Mật Khẩu Hoặc Mật Khẩu Nhập Lại Không Khớp', `label.${inputRePassword.name}`)
        }else if(selectCity.value === ""){
            validateInput(selectCity, 'Chưa Nhập Thành Phố & Huyện ', `label.${selectCity.name}`)
        }else{
            localStorage.setItem('user', 'success');
            loadingAll.style.cssText = 'z-index: 10';
            formUser.style.cssText = 'top: 50%; transform: translate(-50%, -50%) scale(1); z-index: 100';
            setTimeout(()=>{
                overlayInformUser.style.display = 'block';
                loadingFormUser.style.display = 'block';
                formUser.submit();
            },200);
        }
    })
    const formRole = document.querySelector('.box-create__role');
    const showFormRole = document.querySelector('.create-role');
    const closeRoleBox = document.querySelector('.container-create .box-create__role span.title__post-news i')
    const submitRole = document.querySelector('.action-role button');
    const inputCreateRole = document.getElementById('create-role');
    if(showFormRole){
        showFormRole.addEventListener('click',()=>{
            showBox(formRole, overlay, body)
        })
        overlay.addEventListener('click',()=>{
            hideBox(formRole, overlay, body)
        })
        closeRoleBox.addEventListener('click',()=>{
            hideBox(formRole, overlay, body)
        })
    }
    submitRole.addEventListener('click',()=>{
        if(inputCreateRole.value === ""){
            validateInput(inputCreateRole, 'Chưa Nhập Tên Chức Vụ', `label.${inputCreateRole.name}`)
        }else{
            formRole.submit();
            localStorage.setItem('role', 'success');
        }
    })
    const genderMen = document.getElementById('men');
    const genderWomen = document.getElementById('women');
    genderMen.addEventListener('change',()=>{
        setAvatar.src = '/img/avatar-men.png';
    })
    genderWomen.addEventListener('change',()=>{
        setAvatar.src = '/img/avatar-women.png';
    })
    const listsUser = document.querySelectorAll('.card-user');
    listsUser.forEach(user=>{
        const formEditUser = user.querySelector('.box-edit__user');
        const showFormEdit = user.querySelector('.action-user button');
        const closeEditUserBox = formEditUser.querySelector('.container-create .box-edit__user span.title__post-news i')
        showFormEdit.addEventListener('click',()=>{
            showBox(formEditUser, overlay, body);
        });
        overlay.addEventListener('click',()=>{
            hideBox(formEditUser, overlay, body);
        });
        closeEditUserBox.addEventListener('click',()=>{
            hideBox(formEditUser, overlay, body);
        });
        const checkedGenderUser = formEditUser.querySelector('.check-gender').getAttribute('data-check-gender');
        const valueMen = formEditUser.querySelector('.checked-men');
        const valueWomen = formEditUser.querySelector('.checked-women');
        if(checkedGenderUser === 'Nam'){
            valueMen.checked = true;
        }else{
            valueWomen.checked = true;
        }
        const setAvatarEditUser = formEditUser.querySelector('.avatar__edit-user');
        const fileAvatarEditUser = formEditUser.querySelector('.file__edit-user');
        handleFileInput(fileAvatarEditUser, setAvatarEditUser);
        const submitEditUser = formEditUser.querySelector('.submit__edit-user');
        const overlayInformEditUser = formEditUser.querySelector('.overlay-inform');
        const loadingFormEditUser = formEditUser.querySelector('.typing-indicator');
        submitEditUser.addEventListener('click',()=>{
            localStorage.setItem('userEdit', 'success');
            loadingAll.style.cssText = 'z-index: 10';
            formEditUser.style.cssText = 'top: 50%; transform: translate(-50%, -50%) scale(1); z-index: 100';
            setTimeout(()=>{
                overlayInformEditUser.style.display = 'block';
                loadingFormEditUser.style.display = 'block';
                formEditUser.submit();
            },200);
        })
    })
    const managementMSG = document.querySelector('.management-msg');
    const toastMSGUpdate = document.querySelector('.toast-update');
    const clodeMSGUpdate = document.querySelector('.close-notification');
    managementMSG.addEventListener('click',()=>{
        showBox(toastMSGUpdate, overlay, body);
    })
    overlay.addEventListener('click',()=>{
        hideBox(toastMSGUpdate, overlay, body);
    })
    clodeMSGUpdate.addEventListener('click',()=>{
        hideBox(toastMSGUpdate, overlay, body);
    })
    const listEvent = document.querySelectorAll('.card-event');
    listEvent.forEach(event=>{
        const idEvent = event.getAttribute('data-edit-event');
        const editEvent = event.querySelector('.edit-event button.edit-button');
        editEvent.addEventListener('click',(e)=>{
            e.preventDefault();
            const url = `/admin/editEvent/${idEvent}`;
            window.open(url, '_blank');
        })
    })
    const checkSubmit = localStorage.getItem('edit-event');
    document.addEventListener('DOMContentLoaded',()=>{
        if(checkSubmit === 'success'){
            window.location.reload();
            localStorage.setItem('edit-event', '');
        }
    })
</script>
