<div class="container-event">
    <header>
        {{!-- <span class="title-event">Tin Tức Và Khuyến Mãi</span> --}}
    </header>
    <div class="main-event">
        <h1 class="primary-title">
            <img src="/img/allnews-title.png" alt="">
            Tất Cả
         </h1>
        <div class="all-news">
            <div class="latest-news">
                {{#each latestNews}}
                    <a href="/event/{{this._id}}" class="card-latest__news">
                        {{#if this.image1}}
                            <img src="/{{this.image1}}" alt="">
                        {{else}}
                            <img src="/{{this.image2}}" alt="">
                        {{/if}}
                        <div class="label-news" >
                            <span>Mới Nhất</span>
                            <span class="check-label {{this.category}}"></span>
                        </div>
                        <h1>{{this.title}}</h1>
                        <span class="time-news">{{moment this.createdAt format="DD/MM/YYYY"}}</span>
                    </a>
                {{/each}}
            </div>
            <div class="content-three__latest">
                {{#each threeLatestNews}}
                    <a href="/event/{{this._id}}" class="card-three__latest">
                        {{#if this.image1}}
                            <img src="/{{this.image1}}" alt="">
                        {{else}}
                            <img src="/{{this.image2}}" alt="">
                        {{/if}}
                        <div class="main-three__latest">
                            <div class="label-news">
                                <span class="check-label {{this.category}}"></span>
                            </div>
                            <h2>{{this.title}}</h2>
                            <span class="time-news">{{moment this.createdAt format="DD/MM/YYYY"}}</span>
                        </div>
                    </a>
                {{/each}}
            </div>
            <div id="eventRemaining" class="remaining-news">
                {{#each remainingNews}}
                    <a href="/event/{{this._id}}" class="card-remaining__news">
                        {{#if this.image1}}
                            <img src="/{{this.image1}}" alt="">
                        {{else}}
                            <img src="/{{this.image2}}" alt="">
                        {{/if}}
                        <div class="label-news">
                            <span class="check-label {{this.category}}"></span>
                        </div>
                        <h3>{{this.title}}</h3>
                        <p class="desc" data-change-text="{{this.text1}}">{{this.text1}}</p>
                        <span class="time-news">{{moment this.createdAt format="DD/MM/YYYY"}}</span>
                    </a>
                {{/each}}
                <div class="pagination">
                  {{#each pagesOfRemain}}
                  <a href="/event?pageOfRemain={{this}}#eventRemaining" data-page-remaining="{{this}}">{{this}}</a>
                  {{/each}}
                </div>
            </div>
        </div>
        {{#if listNew}}
            <div id="new" class="news">
                <h1>
                    <img src="/img/news-title.png" alt="">
                    Tin Tức
                </h1>
                {{#each listNew}}
                <a href="/event/{{this._id}}" class="card-news">
                    {{#if this.image1}}
                        <img src="/{{this.image1}}" alt="" class="header">
                    {{else}}
                        <img src="/{{this.image2}}" alt="" class="header">
                    {{/if}}
                    <div class="content-news">
                        <span class="time-news">{{moment this.createdAt format="DD/MM/YYYY"}}</span>
                        <h2>{{this.title}}</h2>
                        <p class="desc" data-change-text="{{this.text1}}">{{this.text1}}</p>
                    </div>
                </a>
                {{/each}}
                <div class="pagination">
                  {{#each pagesOfNew}}
                  <a href="/event?pageOfNew={{this}}#new" data-page-new="{{this}}">{{this}}</a>
                  {{/each}}
                </div>
            </div>
        {{/if}}
        {{#if listEvent}}
            <div id="event" class="event">
                <h1>
                    <img src="/img/event-title.png" alt="">
                    Sự Kiện
                </h1>
                {{#each listEvent}}
                <a href="/event/{{this._id}}" class="card-news">
                    {{#if this.image1}}
                        <img src="/{{this.image1}}" alt="" class="header">
                    {{else}}
                        <img src="/{{this.image2}}" alt="" class="header">
                    {{/if}}
                    <div class="content-news">
                        <span class="time-news">{{moment this.createdAt format="DD/MM/YYYY"}}</span>
                        <h2>{{this.title}}</h2>
                        <p class="desc" data-change-text="{{this.text1}}">{{this.text1}}</p>
                    </div>
                </a>
                {{/each}}
                <div class="pagination">
                  {{#each pagesOfEvent}}
                  <a href="/event?pageOfEvent={{this}}#event" data-page-event="{{this}}">{{this}}</a>
                  {{/each}}
                </div>
            </div>
        {{/if}}
        <div class="support">

        </div>
    </div>
</div>
<script>
    // function change link text
    const contentNews = document.querySelectorAll('p.desc')
    contentNews.forEach(content=>{
        const text1 = content.getAttribute('data-change-text');
        const regex = /(^|\s)(https?:\/\/\S+)(?=\s|[,\.?!;:]|$)/g;
        let linkifiedText = text1.replace(regex, '$1<a href="$2">$2</a>');
        content.innerHTML = linkifiedText;
        content.querySelectorAll('a').forEach(a => {
            const href = a.getAttribute('href');
            if(href.includes(',')){
                const newHref = href.replace(/,/g, '');
                a.setAttribute('href', newHref);
            }
        })
    })

    const labelNews = document.querySelector('.container-event .main-event .all-news .latest-news .label-news span.check-label');
    if(labelNews.classList.contains('new') || labelNews.classList.contains('news') ){
        labelNews.textContent = 'Tin Tức';
    }else if(labelNews.classList.contains('event') || labelThreeLatest.classList.contains('event')){
        labelNews.textContent = 'Sự Kiện';
    }
    const threeLatest = document.querySelectorAll('.container-event .main-event .all-news .content-three__latest .card-three__latest');
    threeLatest.forEach(card=>{
        const labelThreeLatest = card.querySelector('.content-three__latest .label-news span.check-label')
        if(labelThreeLatest.classList.contains('news') || labelThreeLatest.classList.contains('new')){
            labelThreeLatest.textContent = 'Tin Tức';
        }else if(labelThreeLatest.classList.contains('event')){
            labelThreeLatest.textContent = 'Sự Kiện';
        }
    })
    const remainingNews = document.querySelectorAll('.container-event .main-event .all-news .remaining-news .card-remaining__news');
    remainingNews.forEach(card=>{
        const labelRemainingNews = card.querySelector('.container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span');
        if(labelRemainingNews.classList.contains('news') || labelRemainingNews.classList.contains('new')){
            labelRemainingNews.textContent = 'Tin Tức';
        }else if(labelRemainingNews.classList.contains('event')){
            labelRemainingNews.textContent = 'Sự Kiện';
        }
    })
    // pagination event remaining
    const getPagination = document.querySelectorAll('.remaining-news .pagination a');
    const paginationContainer = document.querySelector('.remaining-news .pagination');
    if (getPagination.length > 1) {
        paginationContainer.style.display = 'flex';
        getPagination[0].classList.add('active')
    } else {
        paginationContainer.style.display = 'none';
    }
    getPagination.forEach(function(pageLink) {
        pageLink.addEventListener('click', function(event) {
            if (pageLink.classList.contains('active')) {
                event.preventDefault();
            } else {
                const page = pageLink.getAttribute('data-page-remaining');
                localStorage.setItem('currentPageRemaining', page);
            }
        });
    });
    // pagination list new
    const getPaginationNews = document.querySelectorAll('.news .pagination a');
    const paginationContainerNews = document.querySelector('.news .pagination');
    if (getPaginationNews.length > 1) {
        paginationContainerNews.style.display = 'flex';
        getPaginationNews[0].classList.add('active')
    } else {
        paginationContainerNews.style.display = 'none';
    }
    getPaginationNews.forEach(function(pageLinkNews) {
        pageLinkNews.addEventListener('click', function(event) {
            if (pageLinkNews.classList.contains('active')) {
                event.preventDefault();
            } else {
                const pageNews = pageLinkNews.getAttribute('data-page-news');
                localStorage.setItem('currentPageNews', pageNews);
            }
        });
    });
    // pagination list event
    const getPaginationEvent = document.querySelectorAll('.event .pagination a');
    const paginationContainerEvent = document.querySelector('.event .pagination');
    if (getPaginationEvent.length > 1) {
        paginationContainerEvent.style.display = 'flex';
        getPaginationEvent[0].classList.add('active')
    } else {
        paginationContainerEvent.style.display = 'none';
    }
    getPaginationEvent.forEach(function(pageLinkEvent) {
        pageLinkEvent.addEventListener('click', function(event) {
            if (pageLinkEvent.classList.contains('active')) {
                event.preventDefault();
            } else {
                const pageEvent = pageLinkEvent.getAttribute('data-page-Event');
                localStorage.setItem('currentPageEvent', pageEvent);
            }
        });
    });
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const pageFromURL = urlParams.get('pageOfRemain');
        const pageFromUrlNews = urlParams.get('pageOfNew');
        const pageFromUrlEvent = urlParams.get('pageOfEvent');
        const currentPage = pageFromURL || localStorage.getItem('currentPageRemaining');
        const currentPageNews = pageFromURLNews || localStorage.getItem('currentPageNews');
        const currentPageEvent = pageFromURLEvent || localStorage.getItem('currentPageEvent');
        if (currentPage !== null) {
            getPagination.forEach(function(pageLink) {
            var page = pageLink.getAttribute('data-page-remaining');
            if (page == currentPage) {
                pageLink.classList.add('active');
            } else {
                pageLink.classList.remove('active');
            }
            });
        }
        if (currentPageNews !== null) {
            getPaginationNews.forEach(function(pageLinkNews) {
            const pageNews = pageLinkNews.getAttribute('data-page-news');
            if (pageNews == currentPageNews) {
                pageLinkNews.classList.add('active');
            } else {
                pageLinkNews.classList.remove('active');
            }
            });
        }
        if (currentPageEvent !== null) {
            getPaginationEvent.forEach(function(pageLinkEvent) {
            const pageEvent = pageLinkEvent.getAttribute('data-page-event');
            if (pageEvent == currentPageEvent) {
                pageLinkEvent.classList.add('active');
            } else {
                pageLinkEvent.classList.remove('active');
            }
            });
        }
    });
</script>